{% extends "layout.html" %}
{% block content %}

    <div>
        <p style="text-align: justify">
            In this laboratory, we seek novel methodologies for development of high order accurate numerical schemes for solutions of complex engineering problems such as hypersonic and turbulent flows. In numerical simulation of such complex engineering problems, Lie symmetry properties of differential equations underlying these problems are usally ignored or are not actively considered in associated numerical schemes. In our studies, we aim to address this limitation by contributing to the current state of research on geometric integrators with novel methods for construction of high order accurate numerical schemes that inherit Lie symmetry properties of underlying differential equations. Currently, we are located at first floor of Felgar Hall in School of Aerospace and Mechanical Engineering at the University of Oklahoma. 
    </div>  
    
{% endblock content %}



